{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-6 py-8">
    <h1 class="text-3xl font-bold text-center text-black">JVD app</h1>
    <p class="text-xl text-center text-black mt-4">
        Rješenje na jednom mjestu za upravljanje rasporedima vatrogasne službe i šihtericama.
    </p>

    <div class="flex justify-center mt-8">

    </div>

    <div class="mt-12">
        <h2 class="text-2xl font-semibold text-center text-white">Fefe</h2>
    </div>
</div>
{% endblock content %}
