<!-- radnik_profil.html -->
{% extends "base.html" %}
{% load static %}
{% load dict_utils %}
{% load custom_tags %}
{% block content %}
<div class="container mx-auto p-4" x-data="profilePageData()" >
    <h1 class="text-3xl font-bold mb-6">Profil Radnika</h1>

    <!-- Personal Information -->
    <div class="mb-6 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Osobni Podaci</h2>
        <p class="text-lg mb-2"><strong>Ime:</strong> {{ employee.name }} {{ employee.surname }}</p>
        <p class="text-lg mb-2"><strong>Pozicija:</strong> {{ employee.role }}</p>
        <p class="text-lg mb-2"><strong>Grupa:</strong>
            {% if employee.group == '1' %} Ured
            {% elif employee.group == '2' %} Crvena smjena
            {% elif employee.group == '3' %} Zelena smjena
            {% elif employee.group == '4' %} Plava smjena
            {% elif employee.group == '5' %} Crna smjena
            {% elif employee.group == '6' %} Ljubičasta smjena
            {% else %} Nepoznata Grupa
            {% endif %}
        </p>
        
        <!-- Role number editing -->
        <div class="text-lg font-medium mb-2"
             x-data="{ editingRoleNumber: false }"
        >
            <strong>Broj pozicije:</strong>
            <span x-show="!editingRoleNumber" class="ml-2">
                <span x-text="roleNumber"></span>
                <button @click="editingRoleNumber = true" class="ml-2 text-blue-500 hover:text-blue-700">
                    <img src="{% static 'icons/edit.svg' %}" class="inline w-4 h-4">
                </button>
            </span>
            <span x-show="editingRoleNumber" class="ml-2">
                <input type="number" x-model="roleNumber" class="border px-2 py-1 rounded">
                <button @click="updateEmployeeField('role_number', roleNumber); editingRoleNumber=false" class="ml-2 bg-blue-500 text-white px-2 py-1 rounded">Spremi</button>
                <button @click="editingRoleNumber=false" class="ml-2 bg-gray-300 px-2 py-1 rounded">Odustani</button>
            </span>
        </div>

        <!-- Excess hours editing -->
        <div class="text-lg font-medium mb-2"
             x-data="{ editingExcess: false }"
        >
            <strong>Višak sati (mjesec):</strong>
            <span x-show="!editingExcess" class="ml-2">
                <span x-text="excess"></span>
                <button @click="editingExcess = true" class="ml-2 text-blue-500 hover:text-blue-700">
                    <img src="{% static 'icons/edit.svg' %}" class="inline w-4 h-4">
                </button>
            </span>
            <span x-show="editingExcess" class="ml-2">
                <input type="number" step="0.5" x-model="excess" class="border px-2 py-1 rounded">
                <button @click="updateMonthlyExcessHours(excess); editingExcess=false" class="ml-2 bg-blue-500 text-white px-2 py-1 rounded">Spremi</button>
                <button @click="editingExcess=false" class="ml-2 bg-gray-300 px-2 py-1 rounded">Odustani</button>
            </span>
        </div>

        <p class="text-lg"><strong>Slobodni dani po izboru:</strong> {{ free_days_choice_count }}/2</p>
        <div class="mt-4">
            <p class="text-lg"><strong>Ukupno godišnjih sati:</strong> {{ employee.total_vacation_hours }}</p>
            <button @click="openVacationHoursModal = true"
                    class="mt-2 px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow">
                Uredi Godišnje Sate
            </button>
        </div>
    </div>


    <!-- Monthly Hours Table -->
    <div class="mt-6 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Mjesečni Sati</h2>
        <div class="flex justify-between items-center mb-4">
            <!-- Month Navigation -->
            <button id="prev-month"
                class="text-lg font-semibold text-black hover:bg-gray-300 cursor-pointer rounded-lg px-4 py-2">
                &larr; Prethodni Mjesec
            </button>
            <span class="text-xl font-bold">
                {{ selected_date|croatian_month_name }} {{ selected_date|date:"Y" }}
            </span>
            <button id="next-month"
                class="text-lg font-semibold text-black hover:bg-gray-300 cursor-pointer rounded-lg px-4 py-2">
                Sljedeći Mjesec &rarr;
            </button>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <!-- Delete Column -->
                        <th class="px-2 py-1 bg-gray-100" style="width: 40px;"></th>
                        <!-- Date Column -->
                        <th class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 80px;">
                            Datum
                        </th>
                        <!-- Other header cells with fixed widths -->
                        <th data-field="day_hours"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 60px;">
                            Dnevni
                        </th>
                        <th data-field="night_hours"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 60px;">
                            Noćni
                        </th>
                        <th data-field="overtime_hours"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Prek. Priprm
                        </th>
                        <th data-field="overtime_service"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Prek. Usluga
                        </th>
                        <th data-field="overtime_excess_fond"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Prek. Višak
                        </th>
                        <th data-field="overtime_free_day"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Prek. Slob. Dan
                        </th>
                        <th data-field="overtime_free_day_service"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Prek. Slob. Usl.
                        </th>
                        <th data-field="holiday_hours"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Blagdani
                        </th>
                        <th data-field="vacation_hours"
                            class="px-2 py-1 bg-green-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Godišnji
                        </th>
                        <th data-field="sick_leave_hours"
                            class="px-2 py-1 bg-red-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Bolovanje
                        </th>
                        <th data-field="article39_hours"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Članak 39
                        </th>
                        <th data-field="on_call_hours"
                            class="px-2 py-1 bg-gray-100 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                            style="width: 70px;">
                            Priprema
                        </th>
                    </tr>
                </thead>
                <tbody id="hours-table-body">
                    {% for day in month_dates %}
                    {% with wds=workday_dict|dict_get:day %}
                    {% if wds %}
                        <!-- There are WorkDay entries for this date -->
                        {% for wd in wds %}
                        <tr data-date="{{ day|date:"Y-m-d" }}">
                            <!-- Delete button -->
                            <td class="border px-2 py-1 text-center" style="width: 40px;">
                                <button class="remove-workday" data-date="{{ day|date:"Y-m-d" }}" data-shift-type-id="{{ wd.shift_type.id }}">
                                    <img src="{% static 'icons/minus.svg' %}" alt="Delete" class="w-4 h-4 mx-auto">
                                </button>
                            </td>
                            {% if forloop.first %}
                            <td rowspan="{{ wds|length }}" class="border px-2 py-1" style="width: 80px;">
                                <div class="text-center">
                                    <strong>{{ day|croatian_day_initial }}</strong><br>
                                    {{ day|date:"d.m.Y" }}
                                </div>
                            </td>
                            {% endif %}
                            <!-- Data cells -->
                            <td class="border px-2 py-1 editable-cell text-center" data-field="day_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 60px;">
                                {{ wd.day_hours|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="night_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 60px;">
                                {{ wd.night_hours|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="overtime_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.overtime_hours|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="overtime_service"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.overtime_service|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="overtime_excess_fond"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.overtime_excess_fond|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="overtime_free_day"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.overtime_free_day|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="overtime_free_day_service"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.overtime_free_day_service|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="holiday_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.holiday_hours|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell bg-green-100 text-center" data-field="vacation_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.vacation_hours|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell bg-red-100 text-center" data-field="sick_leave_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.sick_leave_hours|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="article39_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.article39_hours|default_if_none:'0' }}
                            </td>
                            <td class="border px-2 py-1 editable-cell text-center" data-field="on_call_hours"
                                data-shift-type-id="{{ wd.shift_type.id }}" style="width: 70px;">
                                {{ wd.on_call_hours|default_if_none:'0' }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <!-- No WorkDay entries for this date -->
                        <tr data-date="{{ day|date:"Y-m-d" }}">
                            <!-- Empty Delete Column -->
                            <td class="border px-2 py-1" style="width: 40px;"></td>
                            <td class="border px-2 py-1" style="width: 80px;">
                                <div class="text-center">
                                    <strong>{{ day|croatian_day_initial }}</strong><br>
                                    {{ day|date:"d.m.Y" }}
                                </div>
                            </td>
                            <!-- Empty data cells with zeros -->
                            <td class="border px-2 py-1 text-center" data-field="day_hours" style="width: 60px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="night_hours" style="width: 60px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="overtime_hours" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="overtime_service" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="overtime_excess_fond" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="overtime_free_day" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="overtime_free_day_service" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="holiday_hours" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center bg-green-100" data-field="vacation_hours" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center bg-red-100" data-field="sick_leave_hours" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="article39_hours" style="width: 70px;">0</td>
                            <td class="border px-2 py-1 text-center" data-field="on_call_hours" style="width: 70px;">0</td>
                        </tr>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




    <!-- Main Blocks -->
    <div class="py-4 grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Prekovremeni Rad Block -->
        <div x-data="{ open: false }" class="p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Prekovremeni Rad</h2>
            <div @click="open = !open"
                class="text-xl font-semibold text-black py-2 hover:bg-gray-300 cursor-pointer rounded-lg flex justify-between items-center">
                <span>Dodaj Prekovremeni Rad</span>
                <img :class="{ 'rotate-180': open }" class="transition-transform duration-200"
                    src="{% static 'icons/down_arrow.svg' %}" alt="Arrow">
            </div>
            <div x-show="open" x-transition>
                <form method="POST" action="{% url 'handle_overtime' employee.id %}" class="mt-4">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="date" class="block text-sm font-medium text-gray-700">Datum:</label>
                        <input type="date" name="date" id="date"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="hours" class="block text-sm font-medium text-gray-700">Broj sati:</label>
                        <input type="number" name="hours" id="hours"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="overtime_type" class="block text-sm font-medium text-gray-700">Tip prekovremenog
                            rada:</label>
                        <select name="overtime_type" id="overtime_type"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
                            <option value="overtime_free_day">Prekovremeni Slobodan Dan</option>
                            <option value="overtime_free_day_service">Prekovremeni Slobodan Dan Usluga</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="shift_type" class="block text-sm font-medium text-gray-700">Smjena:</label>
                        <select name="shift_type" id="shift_type"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
                            {% for shift in shift_types %}
                            <option value="{{ shift.id }}">{{ shift.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit"
                        class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg shadow">Dodaj
                        Prekovremene</button>
                </form>
            </div>
            <div class="mt-6">
                <h3 class="text-xl font-semibold mb-2">Pregled prekovremenog rada</h3>
                <ul class="space-y-2">
                    <!-- Display prekovremeni rad data here -->
                </ul>
            </div>
        </div>

        <!-- Slobodni Dani Block -->
        <div x-data="{ open: false, isArticle39: false }" class="p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Slobodni Dani</h2>
            <div @click="open = !open"
                class="text-xl font-semibold text-black py-2 hover:bg-gray-300 cursor-pointer rounded-lg flex justify-between items-center">
                <span>Dodaj Slobodan Dan</span>
                <img :class="{ 'rotate-180': open }" class="transition-transform duration-200"
                    src="{% static 'icons/down_arrow.svg' %}" alt="Arrow">
            </div>
            <div x-show="open" x-transition>
                <form method="POST" action="{% url 'handle_free_day' employee.id %}" class="mt-4">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="date" class="block text-sm font-medium text-gray-700">Datum:</label>
                        <input type="date" name="date" id="date"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                            x-bind:disabled="isArticle39">
                    </div>
                    <div class="mb-4" x-show="isArticle39" x-transition>
                        <label for="date_start" class="block text-sm font-medium text-gray-700">Početni datum:</label>
                        <input type="date" name="date_start" id="date_start"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
                    </div>
                    <div class="mb-4" x-show="isArticle39" x-transition>
                        <label for="date_end" class="block text-sm font-medium text-gray-700">Krajnji datum:</label>
                        <input type="date" name="date_end" id="date_end"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="is_article_39" class="block text-sm font-medium text-gray-700">Tip slobodnog
                            dana:</label>
                        <select name="is_article_39" id="is_article_39"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                            x-on:change="isArticle39 = $event.target.value === 'true'">
                            <option value="false">Po izboru</option>
                            <option value="true">Članak 39</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="shift_type" class="block text-sm font-medium text-gray-700">Smjena</label>
                        <select name="shift_type" id="shift_type"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
                            {% for shift in shift_types %}
                            {% if shift.name == 'Slobodan Dan 1' or shift.name == 'Slobodan Dan 2' %}
                            <option value="{{ shift.id }}">{{ shift.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit"
                        class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg shadow">Dodaj
                        Slobodan Dan</button>
                </form>
            </div>
            <div class="mt-6">
                <h3 class="text-xl font-semibold mb-2">Slobodni Dani</h3>
                <ul class="space-y-2">
                    {% for free_day in free_days_by_choice %}
                    <li class="bg-gray-100 p-4 rounded-lg shadow">
                        <p class="text-gray-700">{{ free_day.date|date:"d.m.Y" }}</p>
                    </li>
                    {% empty %}
                    <li class="bg-gray-100 p-4 rounded-lg shadow">
                        <p class="text-gray-700">Nema slobodnih dana po izboru.</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

       <!-- Godišnji Odmor Block -->
<div x-data="{ open: false }" class="p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4">Godišnji Odmor</h2>
    <div @click="open = !open"
        class="text-xl font-semibold text-black py-2 hover:bg-gray-300 cursor-pointer rounded-lg flex justify-between items-center">
        <span>Dodaj Godišnji Odmor</span>
        <img :class="{ 'rotate-180': open }" class="transition-transform duration-200"
            src="{% static 'icons/down_arrow.svg' %}" alt="Arrow">
    </div>
    <div x-show="open" x-transition>
        <form method="POST" action="{% url 'handle_vacation' employee.id %}" class="mt-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="start_date" class="block text-sm font-medium text-gray-700">Početni datum:</label>
                <input type="date" name="start_date" id="start_date"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                    required>
            </div>
            <div class="mb-4">
                <label for="end_date" class="block text-sm font-medium text-gray-700">Krajnji datum:</label>
                <input type="date" name="end_date" id="end_date"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                    required>
            </div>
            <button type="submit"
                class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg shadow">Dodaj
                Godišnji Odmor</button>
        </form>
    </div>
    <!-- Display total vacation hours and days -->
    <div class="mt-4">
        <p class="text-lg"><strong>Ukupno godišnjih sati:</strong> {{ employee.total_vacation_hours }}</p>
        <p class="text-lg"><strong>Iskorišteni godišnji sati:</strong> {{ used_vacation_hours }}</p>
        <p class="text-lg"><strong>Preostali godišnji sati:</strong> {{ remaining_vacation_hours }}</p>
    </div>
    <div class="mt-6">
        <h3 class="text-xl font-semibold mb-2">Godišnji Odmori</h3>
        <ul class="space-y-2">
            {% for vacation in vacations %}
            <li class="bg-gray-100 p-4 rounded-lg shadow flex justify-between items-center">
                <div>
                    <p class="text-gray-700">
                        <strong>Od:</strong> {{ vacation.start_date|date:"d.m.Y" }}
                        <strong>Do:</strong> {{ vacation.end_date|date:"d.m.Y" }}
                    </p>
                    <p class="text-gray-700">
                        <strong>Ukupno sati:</strong> {{ vacation.total_vacation_hours }}
                        <strong>Ukupno dana:</strong> {{ vacation.total_vacation_days|floatformat:2 }}
                    </p>
                </div>
                <div class="flex space-x-2">
                    <!-- Edit button -->
                    <button class="edit-vacation" data-vacation-id="{{ vacation.id }}" data-start-date="{{ vacation.start_date }}" data-end-date="{{ vacation.end_date }}">
                        <img src="{% static 'icons/edit.svg' %}" alt="Edit" class="h-7 w-7">
                    </button>
                    <!-- Delete button -->
                    <form method="POST" action="{% url 'delete_vacation' vacation.id %}">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'icons/deleteB.svg' %}" alt="Delete"
                                class="h-7 w-7 border-gray-950 rounded-md hover:bg-red-500 transition-colors duration-300 hover:shadow-md">
                        </button>
                    </form>
                </div>
            </li>
            {% empty %}
            <li class="bg-gray-100 p-4 rounded-lg shadow">
                <p class="text-gray-700">Nema dodanih godišnjih odmora.</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<!-- Sick Leave Block -->
<div x-data="{ open: false }" class="p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4">Bolovanje</h2>
    <div @click="open = !open"
        class="text-xl font-semibold text-black py-2 hover:bg-gray-300 cursor-pointer rounded-lg flex justify-between items-center">
        <span>Dodaj Bolovanje</span>
        <img :class="{ 'rotate-180': open }" class="transition-transform duration-200"
            src="{% static 'icons/down_arrow.svg' %}" alt="Arrow">
    </div>
    <div x-show="open" x-transition>
        <form method="POST" action="{% url 'handle_sick_leave' employee.id %}" class="mt-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="start_date" class="block text-sm font-medium text-gray-700">Početni datum:</label>
                <input type="date" name="start_date" id="start_date"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                    required>
            </div>
            <div class="mb-4">
                <label for="end_date" class="block text-sm font-medium text-gray-700">Krajnji datum:</label>
                <input type="date" name="end_date" id="end_date"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                    required>
            </div>
            <button type="submit"
                class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg shadow">Dodaj
                Bolovanje</button>
        </form>
    </div>
    <div class="mt-6">
        <h3 class="text-xl font-semibold mb-2">Bolovanja</h3>
        <ul class="space-y-2">
            {% for sick_leave in sick_leaves %}
            <li class="bg-gray-100 p-4 rounded-lg shadow flex justify-between items-center">
                <div>
                    <p class="text-gray-700">
                        <strong>Od:</strong> {{ sick_leave.start_date|date:"d.m.Y" }}
                        <strong>Do:</strong> {{ sick_leave.end_date|date:"d.m.Y" }}
                    </p>
                </div>
                <div class="flex space-x-2">
                    <!-- Edit button -->
                    <button class="edit-sick-leave" data-sick-leave-id="{{ sick_leave.id }}" data-start-date="{{ sick_leave.start_date }}" data-end-date="{{ sick_leave.end_date }}">
                        <img src="{% static 'icons/edit.svg' %}" alt="Edit" class="h-7 w-7">
                    </button>
                    <!-- Delete button -->
                    <form method="POST" action="{% url 'delete_sick_leave' sick_leave.id %}">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'icons/deleteB.svg' %}" alt="Delete"
                                class="h-7 w-7 border-gray-950 rounded-md hover:bg-red-500 transition-colors duration-300 hover:shadow-md">
                        </button>
                    </form>
                </div>
            </li>
            {% empty %}
            <li class="bg-gray-100 p-4 rounded-lg shadow">
                <p class="text-gray-700">Nema dodanih bolovanja.</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

    </div>
</div>

<!-- Modal for Adding WorkDay -->
<div id="addWorkdayModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
            Dodaj Radni Dan
          </h3>
          <form id="addWorkdayForm">
            <input type="hidden" name="date" id="workdayDate">
            <div class="mb-4">
              <label for="shiftType" class="block text-sm font-medium text-gray-700">Smjena</label>
              <select id="shiftType" name="shift_type_id" required
                class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm">
                {% for shift in shift_types %}
                <option value="{{ shift.id }}">{{ shift.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="flex justify-end">
              <button type="button" id="cancelAddWorkday"
                class="mr-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black font-bold rounded-lg shadow">
                Odustani
              </button>
              <button type="submit"
                class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg shadow">
                Dodaj
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit Vacation Modal -->
<div id="editVacationModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
            Uredi Godišnji Odmor
          </h3>
          <form id="editVacationForm">
            {% csrf_token %}
            <input type="hidden" name="vacation_id" id="editVacationId">
            <div class="mb-4">
              <label for="edit_start_date" class="block text-sm font-medium text-gray-700">Početni datum:</label>
              <input type="date" name="start_date" id="edit_start_date"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                  required>
            </div>
            <div class="mb-4">
              <label for="edit_end_date" class="block text-sm font-medium text-gray-700">Krajnji datum:</label>
              <input type="date" name="end_date" id="edit_end_date"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                  required>
            </div>
            <div class="flex justify-end">
              <button type="button" id="cancelEditVacation"
                class="mr-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black font-bold rounded-lg shadow">
                Odustani
              </button>
              <button type="submit"
                class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg shadow">
                Spremi Promjene
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- Edit Total Vacation Hours Modal -->
<div x-show="openVacationHoursModal" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
                    Uredi Ukupne Godišnje Sate
                </h3>
                <form method="POST" action="{% url 'update_total_vacation_hours' employee.id %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="total_vacation_hours" class="block text-sm font-medium text-gray-700">Ukupno
                            godišnjih sati:</label>
                        <input type="number" name="total_vacation_hours" id="total_vacation_hours"
                            value="{{ employee.total_vacation_hours }}"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                            required>
                    </div>
                    <div class="flex justify-end">
                        <button type="button" @click="openVacationHoursModal = false"
                            class="mr-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black font-bold rounded-lg shadow">
                            Odustani
                        </button>
                        <button type="submit"
                            class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow">
                            Spremi
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Sick Leave Modal -->
<div id="editSickLeaveModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
            Uredi Bolovanje
          </h3>
          <form id="editSickLeaveForm">
            {% csrf_token %}
            <input type="hidden" name="sick_leave_id" id="editSickLeaveId">
            <div class="mb-4">
              <label for="edit_sick_start_date" class="block text-sm font-medium text-gray-700">Početni datum:</label>
              <input type="date" name="start_date" id="edit_sick_start_date"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                  required>
            </div>
            <div class="mb-4">
              <label for="edit_sick_end_date" class="block text-sm font-medium text-gray-700">Krajnji datum:</label>
              <input type="date" name="end_date" id="edit_sick_end_date"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
                  required>
            </div>
            <div class="flex justify-end">
              <button type="button" id="cancelEditSickLeave"
                class="mr-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black font-bold rounded-lg shadow">
                Odustani
              </button>
              <button type="submit"
                class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-lg shadow">
                Spremi Promjene
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>



<!-- Include the JavaScript code -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Include SweetAlert2 -->


<script>
    function profilePageData() {
        return {
            // Convert template variables to strings and then parse them to avoid syntax issues
            openVacationHoursModal: false,
            roleNumber: parseInt("{{ employee.role_number|default:'0' }}", 10),
            excess: parseFloat("{{ excess_hours_value|default:'0' }}"),

            showAlert(message, icon) {
                Swal.fire({
                    text: message,
                    icon: icon,
                    confirmButtonText: 'U redu',
                    confirmButtonColor: '#3085d6'
                });
            },

            getCSRFToken() {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';').map(c => c.trim());
                    for (let cookie of cookies) {
                        if (cookie.startsWith('csrftoken=')) {
                            cookieValue = decodeURIComponent(cookie.substring('csrftoken='.length));
                            break;
                        }
                    }
                }
                return cookieValue;
            },

            updateEmployeeField(field, value) {
                fetch(`/update_employee_field/{{employee.id}}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': this.getCSRFToken()
                    },
                    body: JSON.stringify({field: field, value: value})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status !== 'success') {
                        this.showAlert('Greška pri ažuriranju polja: ' + data.message, 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    this.showAlert('Greška pri ažuriranju polja', 'error');
                });
            },

            updateMonthlyExcessHours(value) {
                const currentMonthStr = "{{ selected_date|date:'Y-m-d' }}";
                const currentDate = new Date(currentMonthStr);
                const year = currentDate.getFullYear();
                const month = currentDate.getMonth() + 1;

                fetch(`/update_monthly_excess_hours/{{employee.id}}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': this.getCSRFToken()
                    },
                    body: JSON.stringify({value: value, year: year, month: month})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status !== 'success') {
                        this.showAlert('Greška pri ažuriranju viška sati: ' + data.message, 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    this.showAlert('Greška pri ažuriranju viška sati', 'error');
                });
            }
        };
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Handle edit sick leave
const editSickLeaveButtons = document.querySelectorAll('.edit-sick-leave');
const editSickLeaveModal = document.getElementById('editSickLeaveModal');
const editSickLeaveForm = document.getElementById('editSickLeaveForm');
const editSickLeaveId = document.getElementById('editSickLeaveId');
const editSickStartDate = document.getElementById('edit_sick_start_date');
const editSickEndDate = document.getElementById('edit_sick_end_date');
const cancelEditSickLeave = document.getElementById('cancelEditSickLeave');

editSickLeaveButtons.forEach(button => {
    button.addEventListener('click', function () {
        const sickLeaveId = this.getAttribute('data-sick-leave-id');
        const startDate = this.getAttribute('data-start-date');
        const endDate = this.getAttribute('data-end-date');

        // Populate the form fields
        editSickLeaveId.value = sickLeaveId;
        editSickStartDate.value = startDate;
        editSickEndDate.value = endDate;

        // Show the modal
        editSickLeaveModal.classList.remove('hidden');
    });
});

cancelEditSickLeave.addEventListener('click', function () {
    // Hide the modal
    editSickLeaveModal.classList.add('hidden');
});

editSickLeaveForm.addEventListener('submit', function (event) {
    event.preventDefault();
    const sickLeaveId = editSickLeaveId.value;
    const startDate = editSickStartDate.value;
    const endDate = editSickEndDate.value;

    // Send AJAX request to update the sick leave
    fetch(`/edit_sick_leave/${sickLeaveId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
        },
        body: JSON.stringify({
            start_date: startDate,
            end_date: endDate,
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            location.reload();
        } else {
            showAlert('Greška pri ažuriranju bolovanja: ' + data.message, 'error');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showAlert('Greška pri ažuriranju bolovanja', 'error');
    });
});

    // Handle edit vacation
    const editVacationButtons = document.querySelectorAll('.edit-vacation');
    const editVacationModal = document.getElementById('editVacationModal');
    const editVacationForm = document.getElementById('editVacationForm');
    const editVacationId = document.getElementById('editVacationId');
    const editStartDate = document.getElementById('edit_start_date');
    const editEndDate = document.getElementById('edit_end_date');
    const cancelEditVacation = document.getElementById('cancelEditVacation');

    editVacationButtons.forEach(button => {
        button.addEventListener('click', function () {
            const vacationId = this.getAttribute('data-vacation-id');
            const startDate = this.getAttribute('data-start-date');
            const endDate = this.getAttribute('data-end-date');

            // Populate the form fields
            editVacationId.value = vacationId;
            editStartDate.value = startDate;
            editEndDate.value = endDate;

            // Show the modal
            editVacationModal.classList.remove('hidden');
        });
    });

    cancelEditVacation.addEventListener('click', function () {
        // Hide the modal
        editVacationModal.classList.add('hidden');
    });

    editVacationForm.addEventListener('submit', function (event) {
        event.preventDefault();
        const vacationId = editVacationId.value;
        const startDate = editStartDate.value;
        const endDate = editEndDate.value;

        // Send AJAX request to update the vacation
        fetch(`/edit_vacation/${vacationId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                start_date: startDate,
                end_date: endDate,
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                location.reload();
            } else {
                showAlert('Greška pri ažuriranju godišnjeg odmora: ' + data.message, 'error');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showAlert('Greška pri ažuriranju godišnjeg odmora', 'error');
        });
    });


        // Handle cell editing
        const tableBody = document.getElementById('hours-table-body');
        tableBody.addEventListener('click', function (event) {
            const target = event.target;

            // Handle deleting a WorkDay
            if (target.closest('.remove-workday')) {
                const button = target.closest('.remove-workday');
                const date = button.getAttribute('data-date');
                const shiftTypeId = button.getAttribute('data-shift-type-id');
                // Show a better confirmation popup
                showConfirmationDialog('Jeste li sigurni da želite obrisati radni dan za ' + date + '?')
                .then((result) => {
                    if (result.isConfirmed) {
                        removeWorkdayEntry('{{ employee.id }}', date, shiftTypeId);
                    }
                });
                return;
            }

            // Handle cell editing
            if (target.classList.contains('editable-cell')) {
                const originalValue = target.textContent.trim();

                const input = document.createElement('input');
                input.type = 'number';
                input.step = '1.0';
                input.value = originalValue;
                input.className = 'w-full h-full p-0 m-0 text-center';
                input.style.backgroundColor = 'transparent';
                input.style.border = 'none';
                input.style.outline = 'none';
                input.style.width = '100%';
                input.style.boxSizing = 'border-box';

                // Replace cell content with input
                target.textContent = '';
                target.appendChild(input);
                input.focus();

                const field = target.getAttribute('data-field');
                let shiftTypeId = target.getAttribute('data-shift-type-id');  // Get shiftTypeId

                if (!shiftTypeId) {
                    showAlert('Molimo dodajte radni dan prije unosa sati.', 'warning');
                    input.blur();
                    return;
                }

                highlightCell(target);
                highlightColumn(field);
                highlightRow(target.parentElement);

                input.addEventListener('blur', function () {
                    const newValue = input.value.trim();
                    const date = target.parentElement.getAttribute('data-date');

                    // Restore cell content
                    target.textContent = newValue;

                    // Remove highlights
                    removeHighlightCell(target);
                    removeHighlightColumn(field);
                    removeHighlightRow(target.parentElement);

                    // Fade effect on the text
                    target.style.color = 'red';
                    target.style.transition = 'color 1s ease';
                    setTimeout(function () {
                        target.style.color = 'black';
                    }, 10); // Start the transition

                    // Send AJAX request to update the value
                    updateWorkdayHours('{{ employee.id }}', date, field, newValue, shiftTypeId);
                });

                input.addEventListener('keydown', function (e) {
                    if (e.key === 'Enter') {
                        input.blur();
                    }
                });
            }
        });

        

        // Function to remove WorkDay entry
        function removeWorkdayEntry(employeeId, date, shiftTypeId) {
            fetch(`/remove_workday_entry/${employeeId}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({
                    date: date,
                    shift_type_id: shiftTypeId,
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    location.reload();
                } else {
                    showAlert('Greška pri brisanju radnog dana: ' + data.message, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showAlert('Greška pri brisanju radnog dana', 'error');
            });
        }

        // Function to show confirmation dialog
        function showConfirmationDialog(message) {
            return Swal.fire({
                title: 'Potvrda',
                text: message,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Da',
                cancelButtonText: 'Ne',
                confirmButtonColor: '#3085d6',  // Blue color
                cancelButtonColor: '#d33',      // Red color
            });
        }

        // Function to show alert
        function showAlert(message, icon) {
            Swal.fire({
                text: message,
                icon: icon,
                confirmButtonText: 'U redu',
                confirmButtonColor: '#3085d6',  // Blue color
            });
        }


        // Function to update WorkDay hours
        function updateWorkdayHours(employeeId, date, field, value, shiftTypeId) {
            fetch(`/update_workday_hours/${employeeId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({
                    date: date,
                    field: field,
                    value: value,
                    shift_type_id: shiftTypeId,
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status !== 'success') {
                    showAlert('Greška pri ažuriranju radnog dana: ' + data.message, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showAlert('Greška pri ažuriranju radnog dana', 'error');
            });
        }

        // Functions for highlighting
        function highlightCell(cell) {
            cell.classList.add('highlighted-cell');
        }

        function removeHighlightCell(cell) {
            cell.classList.remove('highlighted-cell');
        }

        function highlightColumn(field) {
            const cells = document.querySelectorAll(`td[data-field='${field}'], th[data-field='${field}']`);
            cells.forEach(cell => {
                cell.classList.add('highlighted-column');
            });
        }

        function removeHighlightColumn(field) {
            const cells = document.querySelectorAll(`td[data-field='${field}'], th[data-field='${field}']`);
            cells.forEach(cell => {
                cell.classList.remove('highlighted-column');
            });
        }

        function highlightRow(row) {
            row.classList.add('highlighted-row');
        }

        function removeHighlightRow(row) {
            row.classList.remove('highlighted-row');
        }


        // CSRF token function
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';').map(c => c.trim());
                for (let cookie of cookies) {
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Handle month navigation
        const prevButton = document.getElementById('prev-month');
        const nextButton = document.getElementById('next-month');

        prevButton.addEventListener('click', function () {
            navigateMonth(-1);
        });

        nextButton.addEventListener('click', function () {
            navigateMonth(1);
        });

        function navigateMonth(offset) {
            const currentMonth = new Date('{{ selected_date|date:"Y-m-d" }}');
            currentMonth.setMonth(currentMonth.getMonth() + offset);
            const newMonthStr = currentMonth.toISOString().split('T')[0];
            window.location.href = `?month=${newMonthStr}`;
        }
    });
</script>

    

<!-- Add the CSS styles for highlighting and modal -->
<style>
    /* Ensure cells don't overflow */
    td, th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Highlighted cell */
    .highlighted-cell {
        border: 2px solid blue;
    }

    /* Highlighted column */
    .highlighted-column {
        background-color: #e0f7fa; /* Light cyan background */
    }

    /* Highlighted row */
    .highlighted-row {
        background-color: #f1f8e9; /* Light green background */
    }

    /* Modal Styles */
    #addWorkdayModal {
        display: none;
    }
    #addWorkdayModal:not(.hidden) {
        display: block;
    }
</style>

{% endblock %}