{% extends 'base.html' %}
{% load custom_templates %}
{% load custom_filters %}

{% block content %}
<body>
  <div class="container flex-grow">
      <div class="shadow overflow-hidden rounded-lg border-b border-gray-200">
        <div id="schedule-grid" data-month-start="{{ month_dates.0|date:'Y-m-d' }}">
          {% include 'scheduler/scheduler_grid_inner.html' %}
        </div>
      </div>
  </div>

  <!-- Employees List - Sticky Footer -->
  <div id="employees-list" class="bg-white p-4 sticky bottom-0 grid grid-cols-auto-fill gap-10">
    {% for employee in employees|exclude_and_sort_by_group %}
      <div class="employee-block group-{{ employee.group }}  p-2 border border-gray-300 rounded-md truncate bg-{{ employee.group_color }} text-{{ employee.group_text_color }}" data-employee-id="{{ employee.id }}" data-group="{{ employee.group }}">
        <span class="employee-name truncate text-sm">{{ employee.surname }} {{ employee.name|slice:":1" }}. ({{ employee.group }})</span>
      </div>
    {% endfor %}
  </div>
</body>
{% endblock %}