{% extends 'base.html' %}
{% load custom_templates %}

{% block content %}


<body>
  <div class="schedule-navigation flex justify-between items-center my-4">
    <div class="flex gap-4">
      <button id="prev-week" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Previous Week
      </button>
      <select id="month-select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        {% for month in months %}
        <option value="{{ month.number }}">{{ month.name }}</option>
        {% endfor %}
      </select>
      <button id="next-week" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Next Week
      </button>
    </div>
    <a href="{% url 'download_schedule' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
      Download Schedule as Excel
    </a>
  </div>
  <div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div class="flex flex-row mb-1 sm:mb-0 justify-between w-full">
        <h2 class="text-2xl leading-tight">
          Weekly Schedule
        </h2>
      </div>
      <div class="container mx-auto p-4 sm:p-8">
        <div class="shadow overflow-hidden rounded border-b border-gray-200">
          <div id="schedule-grid" data-week-start="{{ week_dates.0|date:'Y-m-d' }}">
            {% include 'scheduler/scheduler_grid_inner.html' %}
          </div>
        <!-- ... -->
        <div id="employees-list" class="draggable-elements p-4">
          {% for employee in employees %}
          <div class="employee-block" data-employee-id="{{ employee.id }}">
            <span class="employee-name">{{ employee.name }} {{ employee.surname }}</span>
            <span class="drop-counter">0</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
{% endblock %}