{% extends 'base.html' %}
{% load custom_templates %}
{% load custom_filters %}

{% block content %}
<body>
  <div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <!-- Title -->
      <h2 class="text-2xl text-center mb-4">
        Tjedni raspored
      </h2>

      <!-- Navigation Controls -->
      <div class="flex flex-row justify-between w-full mb-4">
        <!-- Left arrow button -->
        <button id="prev-week" class="bg-transparent text-gray-700 hover:text-black">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
          </svg>
        </button>

        <!-- Month select dropdown -->
        <select id="month-select" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5">
          <!--{% for month in months %}
          <option value="{{ month.number }}">{{ month.name }}</option>
          {% endfor %}-->
        </select>

        <!-- Right arrow button -->
        <button id="next-week" class="bg-transparent text-gray-700 hover:text-black">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
        </button>
      </div>

      <!-- Schedule Grid -->
      <div class="container mx-auto p-4 sm:p-8">
        <div class="shadow overflow-hidden rounded border-b border-gray-200">
          <div id="schedule-grid" data-week-start="{{ week_dates.0|date:'Y-m-d' }}">
            {% include 'scheduler/scheduler_grid_inner.html' %}
          </div>
          
          <!-- Employees List -->
          <div id="employees-list" class="draggable-elements p-4">
            {% for employee in employees|exclude_and_sort_by_group %}
              <div class="employee-block group-{{ employee.group }}" data-employee-id="{{ employee.id }}" data-group="{{ employee.group }}">
                  <span class="employee-name">{{ employee.surname }} {{ employee.name|slice:":1" }}. ({{ employee.group }})</span>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}