<!-- schedule_grid_inner.html -->
{% load custom_templates %}
{% load custom_filters %}
{% load static %}

{% with reordered_shift_types=shift_types|reorder_shifts %}
<div class="overflow-auto w-full" style="max-height: 80vh;">
  <table class="min-w-full table-auto">
    <thead class="sticky top-0 bg-gray-100 z-30">
      <tr>
        <th class="px-1 py-1 border text-center text-sm">Datum</th>
        {% for shift_type in reordered_shift_types %}
        <th class="px-1 py-1 border max-w-32 text-center text-pretty text-sm">{{ shift_type.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody x-data class="text-xs">
      {% for day in month_dates %}
      {% with weekday=day|date:"w" %}
      <tr data-weekday="{{ weekday }}" :class="{
          'bg-blue-200': $store.scheduleManager.featureToggle && $store.scheduleManager.selectedRow === {{ forloop.counter0 }},
          'bg-green-100': $el.dataset.weekday == '6' && !($store.scheduleManager.featureToggle && $store.scheduleManager.selectedRow === {{ forloop.counter0 }}),
          'bg-yellow-100': $el.dataset.weekday == '0' && !($store.scheduleManager.featureToggle && $store.scheduleManager.selectedRow === {{ forloop.counter0 }})
        }" @click="$store.scheduleManager.selectRow({{ forloop.counter0 }})">
        <!-- Date Column -->
        <td class="px-1 py-1 border text-center max-w-24 date-header">
          <div class="font-bold text-center">{{ day|date:"D"|translate_days }}</div>
          <div class="mt-1 text-center">{{ day|date:"d.m.Y" }}</div>
        </td>
        <!-- Shift Columns -->
        {% for shift_type in reordered_shift_types %}
        <td class="items-center justify-center px-1 py-1 border min-w-[100px] dropzone bg-transparent rounded border-gray-400 min-h-[30px] shift-type-column shift-type-column-{{ shift_type.id }}"
        data-shift-type-id="{{ shift_type.id }}" data-date="{{ day|date:'Y-m-d' }}"
        {% if shift_type.category == 'godišnji odmor' or shift_type.category == 'bolovanje' %} data-locked="true" {% endif %}>
      
          {% with day_str=day|date:"Y-m-d" %}
          {% with employees_list=schedule_data|get_item:day_str|get_item:shift_type.id %}
          {% if employees_list %}
          {% for employee in employees_list %}
          <div class="employee-block group-{{ employee.group }}"
            id="employee-block-{{ employee.id }}-{{ day|date:'Y-m-d' }}-{{ shift_type.id }}"
            data-employee-id="{{ employee.id }}" data-group="{{ employee.group }}"
            data-shift-type-id="{{ shift_type.id }}" data-date="{{ day|date:'Y-m-d' }}">
            <span class="employee-name">({{ employee.role_number }}) {{ employee.surname }} {{ employee.name|slice:":1"
              }}.</span>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% endwith %}
        </td>
        {% endfor %}
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endwith %}




<div id="overtime-dialog" class="hidden fixed inset-0 items-center flex justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-1/3 max-w-lg">
    <h2 id="modal-title" class="text-xl mb-4">Unesite prekovremene sate</h2>

    <!-- Dual Range Slider Container -->
    <div id="dual-range-slider-container" class="mb-4 hidden">
      <label for="working-hours-range">Odaberite radno vrijeme:</label>
      <div class="relative mt-4 h-10">
        <!-- Slider track -->
        <div class="slider-track bg-gray-300 h-2 rounded-md w-full absolute top-4"></div>
        <!-- Selected range -->
        <div id="slider-range" class="slider-range absolute h-2 bg-blue-500 rounded-md top-4"></div>
        <!-- Range inputs -->
        <input type="range" id="range-min" min="7" max="19" step="1" value="7"
          class="range-input absolute w-full h-0 top-4">
        <input type="range" id="range-max" min="7" max="19" step="1" value="19"
          class="range-input absolute w-full h-0 top-4">
        <!-- Tooltips -->
        <div x-data="{ show: false, startTimeText: '07:00' }" x-show="show" x-transition
          class="tooltip-min absolute bg-gray-700 text-white text-xs rounded py-1 px-2">
          <span x-text="startTimeText"></span>
        </div>
        <div x-data="{ show: false, endTimeText: '19:00' }" x-show="show" x-transition
          class="tooltip-max absolute bg-gray-700 text-white text-xs rounded py-1 px-2">
          <span x-text="endTimeText"></span>
        </div>

      </div>
      <!-- Display current start and end times -->
      <div class="flex justify-between mt-2">
        <span id="start-time-display">07:00</span>
        <span id="end-time-display">19:00</span>
      </div>
    </div>

    <!-- Existing Inputs -->
    <div id="existing-inputs">
      <label for="overtime-hours">Prekovremeni sati iz pripreme</label>
      <input type="number" id="overtime-hours" class="border p-2 mb-4 w-full" value="">

      <label for="overtime-hours-service">Prekovremeni sati iz pripreme usluga</label>
      <input type="number" id="overtime-hours-service" class="border p-2 mb-4 w-full" value="">

      <label for="day-hours">Dnevni sati</label>
      <input type="number" id="day-hours" class="border p-2 mb-4 w-full" value="">

      <label for="night-hours">Noćni sati</label>
      <input type="number" id="night-hours" class="border p-2 mb-4 w-full" value="">
    </div>

    <input type="hidden" id="employee-id">
    <input type="hidden" id="work-date">
    <input type="hidden" id="shift-type-id">

    <button onclick="submitOvertime()" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">U
      redu</button>
    <button onclick="closeOvertimeDialog()"
      class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded ml-2">Odustani</button>
  </div>
</div>