@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dragging visual cue - Ensuring rounded corners and correct padding */
.gu-mirror {
    @apply block p-2 m-0 border border-gray-300 rounded-md shadow-lg;
}

/* Schedule container styles */
.schedule-container {
    @apply overflow-auto;
}

/* Employee block styles - Apply padding and rounded corners */
.draggable-elements .employee-block, .dropzone .employee-block, .employee-block {
  @apply inline-block p-2 border border-gray-300 rounded-md truncate;
}

.group-container {
  @apply overflow-auto max-h-96;
}

#employees-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Creates as many 150px min columns as will fit in the container */
  gap: 10px; /* Adds some space between the blocks */
}

/* Group color coding */
.employee-block.group-2 {
  @apply bg-red-100 text-red-800; /* Updated color for Group 1 */
}
.employee-block.group-3 {
  @apply bg-green-100 text-green-800; /* Updated color for Group 2 */
}
.employee-block.group-4 {
  @apply bg-blue-100 text-blue-800; /* Updated color for Group 3 */
}
.employee-block.group-5 {
  @apply bg-gray-800 text-white; /* New Group 4 with dark theme */
}
.employee-block.group-6 {
  @apply bg-purple-100 text-purple-800; /* New Group 4 with dark theme */
}

/* Dropzone styling */
.dropzone {
    @apply bg-white p-2 rounded border-gray-400 min-h-[50px];
}

/* Employee name styling */
.draggable-elements .employee-block .employee-name {
    @apply text-sm;
}

/* Schedule table styles */
.schedule-table th,
.schedule-table td {
    padding: 8px;
    text-align: center;
    min-width: 120px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.schedule-table .employee-name {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.schedule-table .employee-block {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Collapsed sidebar */
.collapsed {
  @apply w-16;
}

.expanded {
  @apply w-60;
}

.sidebar-text {
  transition: visibility 0s linear 300ms, opacity 300ms;
  will-change: transform, opacity;
}
.sidebar-hidden {
  visibility: hidden;
  opacity: 0;
}
.sidebar-visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}